<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="header">
        <h4>Fear is not evil, it tells you your weakness : Gildarts Clive </h4>
    </div>
    {{{body}}}
    <div class="footer">
        <p>Copyright: Jenish & Sujitha</p>
    </div>
  </body>
</html>