<br /><br />
<form method="POST" action="/movies/search">
  <br />Page:
  <input type="number" name="page" />
  <br />
  <br />
  PerPage:
  <input type="number" name="perPage" />
  <br />
  <br />
  year:
  <input type="number" name="year" />
  <br />
  <br />
  <input type="submit" />
  <br/>
  <br/>
  <br/>
</form>